```
# Ignorar la carpeta de caché de Python
__pycache__/

# Ignorar el archivo de la base de datos SQLite
database.db

# ¡MUY IMPORTANTE! Ignorar el archivo de credenciales de Google
credentials.json
#Datos que no se deben visualizar
/datos_iniciales
